{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Container
			<!-- <a class="no-decoration" href="{{ url_for('admin.challenges_new') }}">
				<span role="button" data-toggle="tooltip" title="Create Container">
					<i class="btn-fa fas fa-plus-circle"></i>
				</span>
			</a> -->
		</h1>
	</div>
</div>


<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        {% if q and field%}
	        <h4 class="text-center">Searching for container with {{field}} matching {{q}}</h4>
	        {% endif %}
			<!-- 搜索框 -->
	        <form method="GET" class="form-inline">
	                <div class="form-group col-md-2">
	                    <label for="sel1" class="sr-only" >Search Field</label>
	                    <select name="field" class="form-control w-100" id="sel1">
	                        <option value="name" {% if field == 'name' %}selected{% endif %}>Name</option>
	                        <option value="id" {% if field == 'id' %}selected{% endif %}>ID</option>
	                        <option value="status" {% if field == 'status' %}selected{% endif %}>Status</option>
	                        <option value="port" {% if field == 'port' %}selected{% endif %}>Port</option>
	                  </select>
	                </div>
	                <div class="form-group col-md-8">
	                    <label for="team-name-search" class="sr-only">Parameter</label>
	                    <input type="text" class="form-control w-100" id="team-name-search" name="q" placeholder="Search for matching container" {% if q %}value="{{q}}"{% endif %}>
	                </div>
	                <div class="form-group col-md-2">
	                    <label for="team-name-search" class="sr-only">Search</label>
	                    <button type="submit" class="btn btn-primary w-100"><i class="fas fa-search" aria-hidden="true"></i></button>
	                </div>
	        </form>

	       	<br>
	       	<div class="row">
		       	<div style="text-align:center">
					<button class="btn btn-theme btn-outlined " data-toggle="modal" data-target="#create-container-modal">
				New Container
					</button>
					<button class="btn btn-theme btn-outlined " data-toggle="modal" data-target="#import-container-modal">
				Import Image
					</button>
				</div>
			</div>
	       	<table id="challenges" class="table table-striped">
					<thead>
					<tr>
						<td><b>ID</b></td>
						<td><b>Name</b></td>
						<td class="d-none d-md-table-cell d-lg-table-cell"><b>Ports</b></td>
						<td class="d-none d-md-table-cell d-lg-table-cell"><b>Status</b></td>
						<td class="d-none d-md-table-cell d-lg-table-cell text-center"><b>Setting</b></td>
					</tr>
					</thead>
					<tbody>
					{% for c in containers %}
						<tr>
							<td>{{ c.id }}</td>
							<td class="container_item" id="{{c.id}}">{{ c.name }}</a></td>
							<td class="d-none d-md-table-cell d-lg-table-cell container_item" id="{{ c.id }}">{{ c.port }}</td>
							<td class="d-none d-md-table-cell d-lg-table-cell">
								<span>
									{% if c.status != 'running' %}
									<i class="fa fa-play"></i>
									{% else %}
									<i class="fa fa-stop"></i>
									{% endif %}
									<i class="fa fa-times"></i>
								</span>
							<td class="d-none d-md-table-cell d-lg-table-cell text-center">{{ c.status }}</td>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>             
	    </div>
	</div>
</div>
	

<div class="modal fade" id="create-container-modal" tabindex="-1" role="dialog" aria-labelledby="container-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="container-modal-label">Create Container</h4>
			</div>
			<form method="POST" action="{{ request.script_root }}/admin/containers/new" enctype="multipart/form-data">
				<div class="modal-body">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" placeholder="Enter container name">
						</div>
						<div class="form-group">
							<label for="buildfile-editor" class="control-label">Build File</label>
							<textarea id="buildfile-editor" class="form-control" name="buildfile" rows="10" placeholder="Enter container build file"></textarea>
						</div>
						<div class="form-group">
							<label for="container-files">Associated Files
								<i class="fa fa-question-circle gray-text" data-toggle="tooltip" data-placement="right" title="These files are uploaded alongside your buildfile"></i>
							</label>
							<input type="file" name="files[]" id="container-files" multiple>
							<sub class="help-block">Attach multiple files using Control+Click or Cmd+Click.</sub>
						</div>
						<input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="import-container-modal" tabindex="-1" role="dialog" aria-labelledby="container-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="container-modal-label">Import Image</h4>
			</div>
			<form method="POST" action="{{ request.script_root }}/admin/containers/import" enctype="multipart/form-data">
				<div class="modal-body">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" placeholder="Enter image name">
						</div>
						<input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="confirm" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="text-center"><span id="confirm-container-title"></span> Container</h2>
			</div>
			<div class="modal-body" style="height:110px">
				<div class="row-fluid">
					<div class="col-md-12">
						<form method="POST">
							<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">
							<div class="small-6 small-centered text-center columns">
								<p>Are you sure you want to <span id="confirm-container-method"></span> <strong id="confirm-container-name"></strong>?</p>
								<button type="button" data-dismiss="modal" class="btn btn-theme btn-outlined">No</button>
								<button type="button" id="confirm-container" class="btn btn-theme btn-outlined">Yes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script>

function load_confirm_modal(title, url, container_name){
	var modal = $('#confirm')
	modal.find('#confirm-container-name').text(container_name)
	modal.find('#confirm-container-title').text(title)
	modal.find('#confirm-container-method').text(title.toLowerCase())
	$('#confirm form').attr('action', url);
	$('#confirm').modal('show');
}

$('#confirm-container').click(function(e){
	e.preventDefault();
	var id = $('#confirm input[name="id"]').val()
	var user_data = $('#confirm form').serializeArray()
	$.post($('#confirm form').attr('action'), $('#confirm form').serialize(), function(data){
		var data = $.parseJSON(JSON.stringify(data))
		if (data == "1"){
			location.reload()
		}
	})
});


$('.fa-times').click(function(){
	var elem = $(this).parent().parent().parent().find('.container_item');
	var container = elem.attr('id');
	var container_name = elem.text().trim();
	load_confirm_modal('Delete', '/admin/containers/'+container+'/delete', container_name)
});

$('.fa-play').click(function(){
	var elem = $(this).parent().parent().parent().find('.container_item');
	var container = elem.attr('id');
	var container_name = elem.text().trim();
	load_confirm_modal('Start', '/admin/containers/'+container+'/start', container_name)
});

$('.fa-stop').click(function(){
	var elem = $(this).parent().parent().parent().find('.container_item');
	var container = elem.attr('id');
	var container_name = elem.text().trim();
	load_confirm_modal('Stop', '/admin/containers/'+container+'/stop', container_name)
});

$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock %}
